
body {
    background: linear-gradient(#28F061, #6128F0) ;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;    
}
#content-wrapper {
    width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
}

#display {
    height: 3.5rem;
    background-color: white;
    box-shadow: none;
    padding-top: .5rem;
    padding-bottom: 0.2rem;
    border: #6128F0 solid 0.7rem;
    text-align: right;
    font-size: 2.5 rem;
    overflow: hidden;
}
#display-text {
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 40px;

}

#keys {
    
    font-size: 1.7 rem;
    text-align: center;
    vertical-align: middle;
    
}

table {
    background:linear-gradient(#28B7F0, #F06128)  ;
    width: 20rem;
    border-spacing: 0.3rem;
    border: rgb(70, 70, 70) solid 0.15rem;
    padding: 0.2em;
}

table td {
    width: 3.7rem;
    height: 3rem;
    padding: 0.1rem;
    border: 0.1rem solid grey;
    border-radius: 3rem;
    background-color: rgb(245, 245, 245);
    color: rgb(30, 30, 30);
}
.calc-button {
background: rgba(0,0,0,.5);
border: 1px solid #111;
padding: 20px;
color: rgb(238, 211, 8);
border-radius: 5px;
font-size: 22px;
cursor: pointer;
}

.is-clear {
    grid-column: span 3;
    color: #eee;
}
.is-zero {
    grid-column: span 2;
}

.is-clear {
background: rgb(251, 170, 89);
}

.is-equals {
background: #28cbf0;
color: #eee;
}