
h1{
    display: flexbox;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
}
p {
    margin-top: 20px;
    display: flexbox;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
}
body {
    background: rgba(74, 92, 194, 0.812) ;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;    
    cursor: pointer;
}
#content-wrapper {
    width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
}

#display {
    height: 3.5rem;
    background-color: #212121;
    box-shadow: none;
    padding-top: .5rem;
    padding-bottom: 0.2rem;
    border: black solid 0.7rem;
    text-align: right;
    font-size: 2.5 rem;
    overflow: hidden;
    color: #60A07F
}
#display-text {
    background-color: ;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 40px;

}

#keys {
    font-size: 1.7 rem;
    text-align: center;
    vertical-align: middle;
    
}
.func:hover {
    transform: scale(1.1);
}
#AC {
    background-color: rgb(251, 170, 89);
    }


table {
    background:black  ;
    width: 20rem;
    border-spacing: 0.3rem;
    border: rgb(70, 70, 70) solid 0.15rem;
    padding: 0.2em;
}

table td {
    width: 3.7rem;
    height: 3rem;
    padding: 0.1rem;
    border: 0.1rem solid grey;
    border-radius: 3rem;
    background-color: rgb(245, 245, 245);
    color: rgb(30, 30, 30);
}
.num:hover {
    transform: scale(1.08);
}

.func {
    background-color:#1be79c ;
}
.zero {
background-color: #FB19DB;
}
.zero:hover {
    transform: scale(1.1);
}

.equals {
background: rgba(74, 92, 194, 0.812);
color: #eee;
}
#AC:hover {
    transform: scale(1.05);
}
.equals:hover {
    transform: scale(1.1);
}